body {
    background-image: url("assets/cartoon-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.container {
    margin: 20px;
    margin-bottom: 5px;
}

.back-icon {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
}

.alphabets {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    border-color: aquamarine;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}



.alphabet{
    width: 40px;
    height: 40px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Baloo Thambi 2', cursive;
    color: #000;
    background-color: #fff;
    border: 2px solid #00ff00;
}

.word{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Baloo Thambi 2', cursive;
    color: #000;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #00ff00;
}

